BOT_TOKEN=tu_token_de_BotFather
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=imperio_bot
OWNER_IDS=123456789
PORT=10000
LOG_LEVEL=INFO

AUTO_DELETE_SERVICE_MESSAGES=true
AUTO_DELETE_JOIN_MESSAGES=true
AUTO_DELETE_LEAVE_MESSAGES=true
AUTO_DELETE_PIN_MESSAGES=true
AUTO_DELETE_GROUP_CHANGE_MESSAGES=true
AUTO_DELETE_OTHER_SERVICE_MESSAGES=true

AUTO_CLEANUP_ENABLED=true
AUTO_CLEANUP_HOURS=12
CLEANUP_BATCH_SIZE=100
NOTICE_TTL=6
MAX_WARNINGS=3
FILTER_LINKS=true
ANTI_BOT=true
